@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap');

:root{
    --cor1: #acf553;
    --cor2: #7fff4d;
    --cor3: #46e644;
    --cor4: #3ffc66;
    --cor5: #47f590;
    --corFonte: black;
    --angle: 45deg;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid;
}
body{
    background: whitesmoke;    
    color: var(--corFonte);
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin: auto;
    max-width: 1100px;
    overflow: hidden;
}

h1, h2, footer{
    text-align: center;
    margin: 15px;
}

/* header ---------------------------------------- */
header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

nav{
    margin: 10px;
}
nav > ul{
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li > a{
    margin: 5px;
    text-decoration: none;
    color: var(--corFonte);
}


#logo{
    background-image: url(img/eco-5465473-removebg-preview.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 100px;
    height: 100px;
    margin: 10px;
}

#burguer{
    margin: 10px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--tempo) ease;
}
.bar{
    width: 50px;
    height: 8px;
    background-color: var(--corFonte);
    border-radius: 5px;
    position: relative;
    transition: var(--tempo) ease;
}
#bar1{
    transform: translateY(-5px);
}
#bar3{
    transform: translateY(5px);
}

/* fim header ---------------------------------------*/
/* main ----------------------------------*/
section{
    margin: 10px;
    display: flex;
    justify-content: center;  
    position: relative;
}
/* slide --------------------------------*/
#slide{
    max-width: 1000px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btnAnterior, #btnProximo{
    cursor: pointer;
    backdrop-filter: blur(0.5px);
    border-radius: 20px;
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: rotate(180deg);
}
#btnProximo{
    transform: rotate(0deg);
}
#btnAnterior::after, #btnAnterior::before, #btnProximo::after, #btnProximo::before{
    content: '';
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background: white;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#btnAnterior::after, #btnProximo::after{
    top: -14px;
    transform: rotate(45deg);
}
#btnAnterior::before, #btnProximo::before{
    top: 14px;
    transform: rotate(-45deg);
}

#divPosSlide{
    border-radius: 30px;
    backdrop-filter: blur(0.5px);
    position: relative;
    top: 170px;
    width: 250px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.posSlide{

    cursor: pointer;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
}

/*fim slide -------------------------------------*/

@media (max-width: 440px){
    
    nav{
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: 440px;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    nav > ul{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav > ul > li{
        margin: 5px;
    }
    
    #burguer{
        display: flex;
        z-index: 1;
    }
    #logo{
        z-index: 1;
    }
}

