@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap');

:root{
    --cor1: #00ed47;
    --cor2: #00e043;
    --cor3: #00c73c;
    --cor4: #00a130;
    --cor5: #00661e;
    --corFonte: black;
    --angle: 45deg;
    --hover: rgb(120, 150, 120);
    --active: rgb(90, 120, 90);    
    --shadowImg: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --borderImg: 5px solid rgba(255, 255, 255, 0.9);
}
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0px 0px 1px var(--cor3);

}
html {
    scroll-behavior: smooth;
}
body{
    background: url(img/tile_background.png);
    background-position: center center;
    color: var(--corFonte);
    font-family: 'Nunito', sans-serif;
}
header, main, footer{
    max-width: 1000px;
    margin: 0 auto;
}
h1, h2, footer{
    text-align: center;
    margin: 10px;    
}

/* header ---------------------------------------- */
header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 130px;
}

nav{
    margin: 10px;
}
nav > ul{
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li > a{
    margin: 5px;
    text-decoration: none;
    color: var(--corFonte);

}
nav > ul > li > a:hover{
    color: var(--hover);
}
nav > ul > li > a:active{
    color: var(--active);
}


#logo{
    background-image: url(img/eco-5465473-removebg-preview.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 100px;
    height: 100px;
    margin: 10px;
}

#burguer{
    margin: 10px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--tempo) ease;
    cursor: pointer;
}
.bar{
    width: 50px;
    height: 8px;
    background-color: var(--corFonte);
    box-shadow: 0px 0px 2px rgba(0, 50, 0, 0.4);
    border-radius: 5px;
    position: relative;
    transition: var(--tempo) ease;
}
#bar1{
    transform: translateY(-5px);
}
#bar3{
    transform: translateY(5px);
}

/* fim header ---------------------------------------*/
/* main ----------------------------------*/
section{
    margin: 10px;
    display: flex;
    justify-content: center;  
    position: relative;
}
/* slide --------------------------------*/
#slide{
    max-width: 1000px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    border: var(--borderImg);
    box-shadow: var(--shadowImg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -o-transition:  0.3s;
    transition:  0.3s; 
}

#btnAnterior, #btnProximo{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: rotate(180deg);
}
#btnAnterior:hover::after, #btnAnterior:hover::before, #btnProximo:hover::after, #btnProximo:hover::before, .posSlide:hover{
    background: var(--hover);
}
#btnAnterior:active::after, #btnAnterior:active::before, #btnProximo:active::after, #btnProximo:active::before, .posSlide:active{
    background: var(--active);
}
#btnProximo{
    transform: rotate(0deg);
}
#btnAnterior::after, #btnAnterior::before, #btnProximo::after, #btnProximo::before{
    content: '';
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background: white;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#btnAnterior::after, #btnProximo::after{
    top: -14px;
    transform: rotate(45deg);
}
#btnAnterior::before, #btnProximo::before{
    top: 14px;
    transform: rotate(-45deg);
}

#divPosSlide{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    position: relative;
    top: 170px;
    width: 250px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.posSlide{
    transition: 0.3s;
    cursor: pointer;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*fim slide -------------------------------------*/

/* scroolbar-------------------------------------- */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(0, 128, 0, 0.2);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 128, 0, 0.3);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:active{
    background: rgba(0, 128, 0, 0.4);

}
/* fim scroolbar ----------------------*/

/*sessoes da pagina ---------------------------*/
.section{
    margin-top: 50px;
    height: 300px;
}
.texto, .img{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.img{
    cursor: pointer;
    margin: 20px;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 10px;
    border: var(--borderImg);
    box-shadow: var(--shadowImg);
    overflow: hidden;
    transition: 0.1s;
}
.img:hover{
    transform: scale(1.01);
}
#florestas, #rios, #montanhas, #ceu, #animais{
    border-radius: 10px;
}
#florestas{    
    background-color: rgba(0, 128, 0, 0.1);
}
#florestas > .img{
    background-image: url(img/floresta.jpg);
}
#rios{
    background-color: rgba(0, 0, 255, 0.1);
}
#rios > .img{
    background-image: url(img/rio.jpg);
}
#montanhas{
    background-color: rgba(165, 42, 42, 0.1);
}
#montanhas > .img{
    background-image: url(img/montanha.jpg);
}
#ceu{
    background-color: rgba(135, 207, 235, 0.1);
}
#ceu > .img{
    background-image: url(img/ceu.jpg);
}
#animais{
    background-color: rgba(128, 128, 128, 0.1);
}
#animais > .img{
    background-image: url(img/animal.jpg);
}
/* fim sessoes da pagina -----------------------*/

/* css para o modal (ampliar a img) -----------------------------*/

#modal{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}
#modalContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#modalImg{
    width: 80vw;
    height: 60vh;
    background-size: 100% 100%;
    border: var(--borderImg);
    box-shadow: var(--shadowImg);
    border-radius: 10px;
    transform: scale(0);
}
#btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    font-size: 25px;    
    transition: all ease-out .4s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 100%;
}

/* footer ----------------------------------*/
footer{
    margin: 10px auto;
    background: rgba(144, 238, 144, 0.4);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: var(--corFonte);
}
footer a:hover{
    color: var(--hover);
}
footer a:active{
    color: var(--active);
}
footer img{
    margin-top: 8px;
    border-radius: 100%;
    width: 60px;
    transition: .3s;
}
footer img:hover{
    transform: scale(1.05);
}

#btnVoltaTopo{
    margin-right: 20px;
    text-align: end;
    font-size: 30px;
}
#btnVoltaTopo > a{
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    transition: .2s;
}

/* fim footer ----------------------------------*/

/* fim css para o modal (ampliar a img)------------------------- */
/* responsividade para o menu -----------------------*/
@media (max-width: 440px){
    
    main{
        z-index: 2;
    }
    nav{        
        visibility: hidden;
        opacity: 0;
        
        font-size: 25px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(30px);
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 1;
        top: 0;
        left: 0;
    }
    nav > ul{
        z-index: 1;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #burguer{
        display: flex;
        z-index: 2;
    }
    #logo{
        z-index: 2;
    }
}
/* fim responsividade para o menu -----------------------*/

/* responsividade para as seções da home -----------------------*/
@media (max-width: 600px){    
    .section{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .texto, .img{
        width: 80%;
        height: 400px;
    }
}
