*{

}
h1{
    margin: 10px auto;
    text-align: center;
    max-width: 500px;
    margin-bottom: 40px;
}
h2{
    display: block;
}
section{
    flex-direction: column;
    padding-bottom: 20px;
}
.galeria{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    width: 250px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    cursor: pointer;
    margin: 20px;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 10px;
    border: var(--borderImg);
    box-shadow: var(--shadowImg);
    overflow: hidden;
    transition: 0.1s;
}

@media (max-width: 650px){

    .img{
        width: 220px;
        margin: 10px;
    }
}
@media (max-width: 540px){

    .img{
        width: 200px;
        height: 130px;
        margin: 5px;
    }
}
@media (max-width: 470px){

    .img{
        width: 250px;
        height: 130px;
        margin: 5px;
    }
}