@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

:root{
    --backgroundPage: linear-gradient(130deg, rgb(138, 138, 138), rgb(179, 179, 179), rgb(138, 138, 138), rgb(179, 179, 179));
    --fonte: white;
    --backgroundCalculadora: linear-gradient(130deg, rgb(133, 133, 133), rgb(102, 102, 102));
    --backgroundCorpo: linear-gradient(130deg, rgb(104, 104, 104), rgb(88, 88, 88));
    --backgroundCabecalho: linear-gradient(130deg, rgb(133, 133, 133), rgb(133, 133, 133));
    --backgroundBtn: linear-gradient(130deg, rgb(133, 133, 133), rgb(68, 68, 68));

}
body{
    background: var(--backgroundPage);
    background-attachment: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Lexend Peta', sans-serif;
    color: var(--fonte);
}
footer{
    margin: 20px;
    margin-bottom: 100px;
    text-align: justify;
    max-width: 700px;
    position: relative;
    top: 70px;
    font-size: 14px;
}
footer > p:nth-child(2){
    text-align: center;
}

/* corpo da calculadora */
#calculadora{
    height: 470px;
    width: 300px;
    background: var(--backgroundCalculadora);
    border-radius: 10px;
    box-shadow: 
        inset 0 0 5px 3px rgba(0, 0, 0, 0.3),
        0 0 5px 3px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 25px;
    
}
#corpo{
    background: var(--backgroundCorpo);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(7, 66.6px);

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
}

/* grid */
.gridItem{
    display: grid;
    place-items: center;
}
.gridItem:nth-child(1){ /* grid do visor */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;    
}
.gridItem:nth-child(17){ /* grid do + */
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 4;
}


/* visor da calculadora */
#cabecalho{
    background: var(--backgroundCabecalho);
    border-radius: 30px;
    height: 120px;
    width: 90%;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
#visor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
    padding-right: 10px;
    background: linear-gradient(130deg, rgb(129, 231, 129), rgb(117, 199, 117));
    border-radius: 10px;
    height: 90px;
    width: 93%;
    box-shadow: 
        inset 0px 0px 10px rgba(255, 255, 255, 0.8),
        0px 0px 10px rgba(255, 255, 255, 0.4);

}
#ultimaConta{
    font-size: 15px;
    padding-bottom: 5px;
    user-select: none;  
    text-align: right;  

}
#caracteres{
    font-size: 25px;
    user-select: none;    
}
#caracteres::after{
    content: '';
    border-right: 2px solid white;
    border-radius: 10px;

    animation-name: barraPiscando;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 1);
    animation-iteration-count: infinite;
}
@keyframes barraPiscando{    
    to{
        border-right: 2px solid transparent;
    }
}

/* botões */
.botao, .botaoMais, .botaoOn{
    background: var(--backgroundBtn);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 
        inset -4px -4px 2px rgba(0, 0, 0, 0.3),
        inset 1.4px 1.4px 2px rgba(0, 0, 0, 0.3),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        0 0 1px 1px black;


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    user-select: none;
}

.botaoMais{
    background: linear-gradient(130deg, rgb(230, 143, 143), rgb(228, 71, 71));
    height: 115px;
}
.botaoOn{
    background: linear-gradient(130deg, rgb(230, 143, 143), rgb(228, 71, 71));
    border-radius: 100%;
}

.botao:hover, .botaoMais:hover, .botaoOn:hover{
    background: linear-gradient(130deg, rgb(143, 143, 145), rgb(78, 78, 78));
    box-shadow: 
        inset -4px -4px 2px rgba(10, 10, 10, 0.3),
        inset 1.4px 1.4px 2px rgba(10, 10, 10, 0.3),
        2px 2px 2px rgba(10, 10, 10, 0.2),
        0 0 1px 1px rgb(10, 10, 10);
}
.botaoMais:hover, .botaoOn:hover{
    background: linear-gradient(130deg, rgb(240, 153, 153), rgb(238, 81, 81));
}

.botao:active, .botaoMais:active, .botaoOn:active{
    background: linear-gradient(130deg, rgb(153, 153, 155), rgb(88, 88, 88));
    box-shadow: 
        inset -2px -2px 2px rgba(30, 30, 30, 0.3),
        inset 1px 1px 1px rgba(30, 30, 30, 0.3),
        2px 2px 2px rgba(30, 30, 30, 0.1),
        0 0 1px 1px rgb(30, 30, 30);
    transform: rotate(180deg) scale(-0.99);
}
.botaoMais:active, .botaoOn:active{
    background: linear-gradient(130deg, rgb(250, 163, 163), rgb(248, 91, 91));
}
