@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
body{
    background: rgb(150, 150, 150);
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lexend Peta', sans-serif;
    color: white;
}





#calculadora{
    height: 400px;
    width: 300px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    box-shadow: 
        inset 0 0 5px 3px rgba(0, 0, 0, 0.3),
        0 0 5px 3px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6, 66.6px);
}
.gridItem{
    border: 1px solid tomato;
    display: grid;
    place-items: center;
}
.gridItem:nth-child(1){
    background-color: rgb(124, 167, 124);

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;    
}
.gridItem:nth-child(13){
    background-color: red;
    
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 4;    
}








.botao{
    background: linear-gradient(130deg, rgb(133, 133, 133), rgb(68, 68, 68));
    height: 50px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 
        inset -4px -4px 2px rgba(0, 0, 0, 0.3),
        inset 1.4px 1.4px 2px rgba(0, 0, 0, 0.3),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        0 0 1px 1px black;
    display: grid;
    place-items: center;
    user-select: none;
}
.botao:hover{
    background: linear-gradient(130deg, rgb(143, 143, 145), rgb(78, 78, 78));
    box-shadow: 
        inset -4px -4px 2px rgba(10, 10, 10, 0.3),
        inset 1.4px 1.4px 2px rgba(10, 10, 10, 0.3),
        2px 2px 2px rgba(10, 10, 10, 0.2),
        0 0 1px 1px rgb(10, 10, 10);
}
.botao:active{
    background: linear-gradient(130deg, rgb(153, 153, 155), rgb(88, 88, 88));
    box-shadow: 
        inset -2px -2px 2px rgba(30, 30, 30, 0.3),
        inset 1px 1px 1px rgba(30, 30, 30, 0.3),
        2px 2px 2px rgba(30, 30, 30, 0.1),
        0 0 1px 1px rgb(30, 30, 30);
    transform: rotate(180deg) scale(-0.99);
}
