body{
    background: rgb(68, 68, 68);
    display: grid;
    place-items: center;
    height: 98vh;
}
#botao{
    background-color: black;
    height: 250px;
    width: 250px;
    box-shadow: 1px 1px 5px black, inset 5px 5px 5px 5px;
    inset: 10px;
}